
.profile-img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;

}

.name-heading {
    font-size: 24px;
    margin-top: 10px;
}

.job-title {
    color: gray;
    font-style: italic;
}


.contacts p {
    margin: 5px 0;
}

.contacts {
    text-decoration: none;
    transition: 0.3s;
}

.contacts:hover {
    color: red;
}


#skills {
    list-style: none;
    padding: 10px;
    background-color: lightgray;
    border-radius: 6px;
}

#skills li {
    margin: 5px 0;
}


.aboutText{
    line-height: 1.6;
    text-align: justify;
    margin: 10px 0;
}


.messageform input[type="text"],
.messageform input[type="email"] {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.messageform input[type="submit"] {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray;
    transition: background-color 0.3s;
}

.messageform input[type="submit"]:hover {
    background-color: lightgray;
}


#footer {
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    margin-top: 20px;
}

.dark-mode {
    background-color: #222;
    color: white;
}
